.button:hover {
    background-color: #5161b9;
    color: white;
    font-family: "Verdana";
}
.button {
    font-size: medium;
    color: rgb(187, 183, 183);
    margin: 10px;
    font-family: "Verdana";
}
/* Napit teostiedoissa */
.button-link {
    color: white;
    font-size: medium;
    background-color: gray;
    padding: 3px;
    border-radius: 3px;
    border: 1px coral;
}
.admin-link {
    color: rgb(31, 29, 29);
    margin: 10px;
    margin-left: 80%;
    margin-right: 5%;
    font-family: "Verdana";
    font-size: smaller;
}
p {
    font-family: "Verdana";
}
.about-text {
    /* color: #5161b9; */
    /* color: indigo; */
    color: rgb(39, 0, 130);
    font-size: large;
    font-family: Tahoma;
    /* padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%; */
}
.about-text2 {
    color: rgb(83, 83, 83);
    font-size: small;
}

.about-link {
    font-family: "Verdana";
    font-size: large;
}

.area-text-about {
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    border: 1px white;
    padding: 40px;
    margin: 10px;
}
.area-text-contact {
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    border: 1px white;
    padding: 40px;
    padding-bottom: 47px;
    margin: 10px;
}
/* .about {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 300px;
    background-color: white;
} */

.color {
    background-color: rgb(54, 52, 52);
}

.title {
    color: rgb(187, 183, 183);
    margin: auto;
    padding-bottom: 10px;
}

.picture {
    max-width: 100%;
}
.picture2 {
    max-height: 300px;
    max-width: 300px;
    height: 95%;
    width: 95%;
}

.picture3 {
    max-height: 50px;
    max-width: 50px;
}
.name-title {
    color: rgb(68, 96, 252);
    font-weight: 500;
    font-size: xx-large;
}

.btn-group {
    flex-wrap: wrap;
}

.name-title-div {
    margin-right: 90px;
}

.inline-flex-parent {
    padding-top: 30px;
    display: inline-flex;
}

.card {
    max-width: 500px;
}

/*Uuden teoksen lisäämiseen liittyvä.....display-flex ei toimi kuitenkaan...... */
.form-float-right {
    display: flex; /* Varmistaa, että flex-objektit menee vierekkäin vain jos mahtuu */
    flex-direction: column;
    align-items: flex-end;
}

.red-text {
    color: crimson;
}

/* Kuva email:ista */
.emailpicture {
    max-width: 300px;
}

/* Teostietojen näyttämistä varten */
.area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.area-one-work {
    width: 32%;
    min-width: 300px;
    height: 350px;
    display: flex;
    background-color: white;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px white;
}
