.button:hover {
    background-color: #5161b9;
    color: white;
    font-family: "Lucida Console";
}
.button {
    font-size: medium;
    /* color: rgb(83, 83, 83); */
    color: rgb(187, 183, 183);
    margin: 10px;
    font-family: "Lucida Console";
}
.admin-link {
    color: rgb(31, 29, 29);
    margin: 10px;
    margin-left: 90%;
    font-family: "Lucida Console";
    font-size: smaller;
}
p {
    font-family: "Lucida Console";
}
.about-text {
    color: #5161b9;
    font-size: small;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.about-text2 {
    color: rgb(83, 83, 83);
    font-size: small;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.about-link {
    font-family: "Lucida Console";
    font-size: small;
    padding-left: 5%;
}
.about {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    min-width: 270px;
    background-color: white;
}

.color {
    background-color: rgb(54, 52, 52);
}

.title {
    color: rgb(187, 183, 183);
    margin: auto;
    padding-bottom: 10px;
}

.picture {
    max-width: 100%;
}
.picture2 {
    max-height: 300px;
    max-width: 300px;
}

.picture3 {
    max-height: 50px;
    max-width: 50px;
}
.name-title {
    color: rgb(68, 96, 252);
    font-weight: 500;
    font-size: xx-large;
}

.btn-group {
    flex-wrap: wrap-reverse;
}

.name-title-div {
    margin-right: 90px;
}

.inline-flex-parent {
    padding-top: 30px;
    display: inline-flex;
}

.card {
    max-width: 500px;
}

.form-float-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.red-text {
    color: crimson;
}

.emailpicture {
    max-width: 220px;
}
