.button:hover {
    background-color: #5161b9;
    color: white;
    font-family: "Lucida Console";
}
.button {
    font-size: medium;
    /* color: rgb(83, 83, 83); */
    color: rgb(187, 183, 183);
    margin: 10px;
    font-family: "Lucida Console";
}
.admin-link {
    color: rgb(31, 29, 29);
    margin: 10px;
    margin-left: 90%;
    font-family: "Lucida Console";
    font-size: smaller;
}
p {
    font-family: "Lucida Console";
}
.about-text {
    color: #5161b9;
    font-size: small;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.about-text2 {
    color: rgb(83, 83, 83);
    font-size: small;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.about-link {
    font-family: "Lucida Console";
    font-size: small;
}
.about {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    background-color: white;
}

/* .background-frontpage {
    background-color: rgb(32, 29, 29);
    padding-bottom: 1%;
    /* background-color: darkgray; */
/* background-color: rgb(235, 235, 235); */

/* .background {
    background-color: rgb(32, 29, 29);
} */

.color {
    background-color: rgb(54, 52, 52);
}

.title {
    /* color: rgb(226, 225, 225); */
    color: rgb(187, 183, 183);
}

.picture {
    max-width: 100%;
}

.name-title {
    /* color: rgb(48, 78, 248); */
    color: rgb(68, 96, 252);
    font-weight: 500;
    /* font-size: x-large; */
    font-size: xx-large;
}

.card {
    /* margin-top: 20px; */
    width: 50%;
}
