{% extends 'index.html' %} {% block content %}
<div class="background">
    <center>
    <br />
    <div class="about">
        <br />
        <p class="about-text">
            "Maalaan, puran ja kokoan kappaleista uusia kokonaisuuksia.
            Erilaiset materiaalit ja värit vievät tekemistä eteenpäin. Usein
            syntyy vaikutelmia ohi menevistä hetkistä. Kiertokulku, hajoaminen
            ja uusiutuminen kiinnostavat prosessissa. Olen valmistunut
            taidemaalariksi Vapaasta taidekoulusta 2016."
        </p>
        <p class="about-text2">
            Ajankohtaista tietoa näyttelyistä ja kuvia prosessista:
        </p>
        <a class="about-link" href="https://www.instagram.com/touchingcolor/">
            www.instagram.com/touchingcolor/
        </a>
    </div>
    <br />
</div>
</center>
{% endblock %}
