{% extends 'index.html' %} {% block content %}
<div>
    <h4 class="title">OTA YHTEYTTÄ</h4>
    <center>
        <br />
        <div class="area-text-contact">
            <br />
            <img
                class="emailpicture"
                src="https://filedn.eu/lnHUCw3DsPvXD3WO8abAOD7/email.JPG"
            />
            <!-- <p class="about-text">
            Ajankohtaista tietoa ja kuvia prosessista:
        </p>
        <a class="about-link" href="https://www.instagram.com/touchingcolor/">
            www.instagram.com/touchingcolor/
        </a>
    </div> -->
            <br />
        </div>
    </center>
    {% endblock %}
</div>
