{% extends 'index.html' %} {% block content %}
<div>
    <h4 class="title">YHTEYSTIEDOT</h4>
    <center>
        <br />
        <div class="about">
            <br />
            <p class="about-text2">
                Email:
                sinihodju@gmail.com
            </p>
            <p class="about-text2">
                Ajankohtaista tietoa näyttelyistä ja kuvia prosessista:
            </p>
            <a class="about-link" href="https://www.instagram.com/touchingcolor/">
                www.instagram.com/touchingcolor/
            </a>
        </div>
        <br />
    </div>
    </center>
</div>

{% endblock %}
