{% extends 'index.html' %} {% block content %}
<div>
    <h4 class="title">OTA YHTEYTTÄ</h4>
    <center>
    <br />
    <div class="about">
        <br />
        <p class="about-text">sini*@gmail.com</p>
        <img class="picture2" src="https://e.pcloud.link/publink/show?code=XZNx51ZqPStE3me4fhwsJ0NxonmPJH3lWey" />
        <p class="about-text2">
            Ajankohtaista tietoa näyttelyistä ja kuvia prosessista:
        </p>
        <a class="about-link" href="https://www.instagram.com/touchingcolor/">
            www.instagram.com/touchingcolor/
        </a>
    </div>
    <br />
</div>
</center>
{% endblock %}