{% extends 'index.html' %} {% block content %}

<div>
    <center>
        <h4 class="title">TIETOJEN MUOKKAUS</h4>

        <div class="card" style="width: 23rem">
            <div class="card-header">
                <h5>Muokataan {{w.name}} {{w.year}}</h5>
            </div>

            <div class="card-body">
               
                <form class="form-float-right" method="post" action="/edit-work-post/{{w.id}}/">
                    {% csrf_token %}
                    <label class="red-text">* pakollinen tieto</label>
                    
                    <div class="form-group">
                        <label class="red-text">Nimi *</label>
                        <input
                            type="text"
                            name="name"
                            value="{{w.name}}"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label class="red-text">Vuosi *</label>
                        <input
                            type="number"
                            name="year"
                            value="{{w.year}}"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label class="red-text">Onko teos installaatio? *</label>
                        <input class="card-text" type="radio" name="installation" value="1" checked> Kyllä </input>
                        <input class="card-text" type="radio" name="installation" value="0" checked> Ei </input>
                    </div>
                    <div class="form-group">
                        <label class="red-text">Näytetäänkö netissä? *</label>
                        <input class="card-text" type="radio" name="showonline" value="0" checked> Ei </input>
                        <input class="card-text" type="radio" name="showonline" value="1" checked> Kyllä </input>
                    </div>
                    <div class="form-group">
                        <label class="red-text">Monentena kuvana näytetään? *</label>
                        <input
                            type="number"
                            name="ordershowonline"
                            value="{{w.ordershowonline}}"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label class="red-text">Kuvalinkki 1 *</label>
                        {% if w.imagelink1 != None %}
                        <input
                            type="text"
                            name="imagelink1"
                            value="{{w.imagelink1}}"
                        />
                        {% else %}
                        <input type="text" name="imagelink1" value="" />
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>Kuvalinkki 2</label>
                        {% if w.imagelink2 != None %}
                        <input
                            type="text"
                            name="imagelink2"
                            value="{{w.imagelink2}}"
                        />
                        {% else %}
                        <input type="text" name="imagelink2" value="" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Kuvalinkki 3</label>
                        {% if w.imagelink3 != None %}
                        <input
                            type="text"
                            name="imagelink3"
                            value="{{w.imagelink3}}"
                        />
                        {% else %}
                        <input type="text" name="imagelink3" value="" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Tekniikka</label>
                        {% if w.media != None %}
                        <input type="text" name="media" value="{{w.media}}" />
                        {% else %}
                        <input type="text" name="media" value="" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Koko</label>
                        {% if w.size != None %}
                        <input type="text" name="size" value="{{w.size}}" />
                        {% else %}
                        <input type="text" name="size" value="" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Sarjan nimi</label>
                        {% if w.inseries.seriesname != None %}
                        <input type="text" name="seriesname" value="{{w.inseries.seriesname}}" />
                        {% else %}
                        <input type="text" name="seriesname" value="" />
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>Omistuksessa</label>
                        {% if w.ownedby != None %}
                        <input
                            type="text"
                            name="ownedby"
                            value="{{w.ownedby}}"
                        />
                        {% else %}
                        <input type="text" name="ownedby" value=""/>
                        {% endif %}
                    </div>

                    
                    <div class="form-group">
                        <label>Linkki videoon</label>
                        {% if w.videolink != None %}
                        <input
                            type="text"
                            name="videolink"
                            value="{{w.videolink}}"
                        />
                        {% else %}
                        <input type="text" name="videolink" value="" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Instagramlinkki</label>
                        {% if w.instagramlink != None %}
                        <input
                            type="text"
                            name="instagramlink"
                            value="{{w.instagramlink}}"
                        />
                        {% else %}
                        <input type="text" name="instagramlink" value="" />
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Yhteistyössä</label>
                        {% if w.collaboration != None %}
                        <input
                            type="text"
                            name="collaboration"
                            value="{{w.collaboration}}"
                        />
                        {% else %}
                        <input type="text" name="collaboration" value="" />
                        {% endif %}

                    <div class="form-group">
                        <label>Kuvaaja</label>
                        {% if w.photographer != None %}
                        <input
                            type="text"
                            name="photographer"
                            value="{{w.photographer}}"
                        />
                        {% else %}
                        <input type="text" name="photographer" value="" />
                        {% endif %}
                    </div>
                    
                    <div>
                    <input
                        type="submit"
                        value="Tallenna"
                        class="btn btn-success btn-sm"
                    />
                    <input
                        type="button"
                        onclick="window.location.href='/modify'"
                        value="Peruuta"
                        class="btn btn-secondary btn-sm"
                    />
                </form>
            </div>
        </div>
    </center>
    <br />
</div>
{% endblock %}
