<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" />

        <title>touchingcolor</title>
        <meta charset="UTF8" />
        <meta name="viewport" content="width=device width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body class="color">
        <div class="container">
            <div class="inline-flex-parent">
                <div class="name-title-div">
                    <h4 class="name-title">SINI HODJU</h4>
                </div>
                <div class="btn-group" role="group">
                    <a class="button" href="/">Etusivu</a>
                    <a class="button" href="/work">Teokset</a>
                    <a class="button" href="/installation">Installaatiot</a>
                    <a class="button" href="/about">Lisätietoja</a>
                    <a class="button" href="/contact">Ota yhteyttä</a>
                </div>
            </div>

            {% block content %} {% endblock %}

            <a
                class="admin-link"
                href="http://127.0.0.1:8000/admin/login/?next=/admin/"
                >Admin</a
            >
            <a class="admin-link" href="http://127.0.0.1:8000/modify"
                >Muokkaus</a
            >
        </div>
    </body>
</html>
