{% extends 'index.html' %} {% block content %}

<div>
    <h5 class="title">TIETOJEN MUOKKAUS</h5>
    <br />
    <button id="add-btn" class="btn-success btn-sm" onclick="showaddform()">
        Lisää uusi teos
    </button>
    <button
        id="addseries-btn"
        class="btn-success btn-sm"
        onclick="showaddformseries()"
    >
        Lisää uusi sarja
    </button>
    <br />
    <br />
    <a class="btn btn-danger btn-sm" href="/logout">Kirjaudu ulos</a>

    <center>
        <div class="luokka" id="add-div"></div>
        <div class="luokka" id="add-div2"></div>
        {% for s in works %}
        <div class="card">
            <div class="card-body">
                <br />
                {% if s.imagelink1 != None %}
                <img class="picture3" src="{{s.imagelink1}}" />
                {% endif %} {% if s.size == None %}
                <p class="card-text" style="font-size: small; margin-top: 3%">
                    {{s.name}} {{s.year}}
                </p>
                {% endif %} {% if s.size != None %}
                <p class="card-text" style="font-size: small; margin-top: 3%">
                    {{s.name}} {{s.year}} <br />
                    {{s.size}}
                </p>
                {% endif %} {% if s.collaboration != None %}
                <p class="card-text" style="font-size: small">
                    Yhteistyössä {{s.collaboration}}
                </p>
                {% endif %} {% if s.ownedby != None %}
                <p class="card-text" style="font-size: small">
                    Omistuksessa: {{s.ownedby}}
                </p>
                {% endif %} {% if s.instagramlink != None %}
                <p class="card-text">
                    <a href="{{s.instagramlink}}" style="font-size: small">
                        Instagram
                    </a>
                    <br />
                    <br />
                </p>
                {% endif %} {% if s.inseries != None %}
                <p class="card-text" style="font-size: small">
                    Sarjassa {{ s.inseries.seriesname }}
                </p>
                {% endif %} {% if s.photographer != None %}
                <p class="card-text" style="font-size: small">
                    Kuvaaja {{ s.photographer }}
                </p>
                {% endif %}
                <p class="card-text" style="font-size: small">
                    Järjestys {{ s.ordershowonline }}
                </p>
                <div>
                    <a
                        href="/confirm-deletework/{{s.id}}"
                        class="btn btn-danger"
                        btn-sm
                    >
                        Poista
                    </a>

                    <a href="/edit-work-get/{{s.id}}" class="btn btn-primary"
                        >Muokkaa</a
                    >
                </div>
            </div>
        </div>
        {% endfor %}

        <div>
            <h5 class="title">SARJAT</h5>
            {% for t in series %}
            <div class="card">
                <div class="card-body">
                    <p
                        class="card-text"
                        style="font-size: small; margin-top: 3%"
                    >
                        {{t.seriesname}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</div>

<script>
    let x = `
            <h2 style="color: lightblue">Täytä tiedot</h2>

            <div class="card" style="width: 23rem;">
                <div class="card-body">
                    <form class="form-float-right" method="post" action="/add/">
                        {% csrf_token %}
                        <div class="form-entry">
                            <label class="red-text">* pakollinen tieto</label>
                        </div>
                        <div class="form-entry">
                        <label class="red-text" for="a"> Teoksen nimi *</label>
                        <input id="a" class="card-text" class="card-text" type="text" name="name" required><br>
                        </div>
                        <div class="form-entry">
                        <label for="ab"> Sarjan nimi</label>
                        <input id="ab" class="card-text" class="card-text" type="text" name="seriesname"><br>
                        </div>
                        <div class="form-entry">
                        <label class="red-text" for="b" >Vuosi *</label>
                        <input id="b" class="card-text" type="number" placeholder="2023" name="year" required><br>
                        </div>
                        <div class="form-entry">
                        <label for="c" >Tekniikka</label>
                        <input id="c" class="card-text" type="text" name="media"><br>
                        </div>
                        <div class="form-entry">
                        <label for="d" >Koko</label>
                        <input id="d" class="card-text" type="text" name="size"><br>
                        </div>
                        <div class="form-entry">
                        <label for="d" >Omistuksessa</label>
                        <input id="d" class="card-text" type="text" name="ownedby"><br>
                        </div>
                        <div class="form-entry">
                        <label class="red-text">Kuvalinkki 1 *</label>
                        <input class="card-text" type="text" placeholder="kuvalinkki 1" name="imagelink1" required><br>
                        </div>
                        <div class="form-entry">
                        <label>2</label>
                        <input class="card-text" type="text" placeholder="kuvalinkki 2" name="imagelink2"><br>
                        </div>
                        <div class="form-entry">
                        <label>3</label>
                        <input class="card-text" type="text" placeholder="kuvalinkki 3" name="imagelink3"><br>
                        </div>
                        <div class="form-entry">
                        <label for="e" >Linkki videoon</label>
                        <input id="e" class="card-text" type="text" name="videolink"><br>
                        </div>
                        <div class="form-entry">
                        <label for="f" >Instagramlinkki</label>
                        <input id="f" class="card-text" type="text" name="instagramlink"><br>
                        </div>
                        <div class="form-entry">
                        <label for="g" >Yhteistyötahot</label>
                        <input id="g" class="card-text" type="text" name="collaboration"><br>
                        </div>
                        <div class="form-entry">
                        <label for="i" >Kuvaaja</label>
                        <input id="i" class="card-text" type="text" name="photographer"><br>
                        </div>
                        <div class="form-entry">
                        <label class="red-text">Onko teos installaatio? *</label>
                        <input class="card-text" type="radio" name="installation" value="1" checked> Kyllä </input>
                        <input class="card-text" type="radio" name="installation" value="0" checked> Ei </input>
                        <br/>
                        <br/>
                        </div>
                        <div class="form-entry">
                        <label class="red-text">Näytetäänkö netissä?? *</label>
                        <input class="card-text" type="radio" name="showonline" value="1" checked> Kyllä </input>
                        <input class="card-text" type="radio" name="showonline" value="0" checked> Ei </input>
                        <br/>
                        <br/>
                        </div>
                        <div class="form-entry">
                        <label for="j" >Monentena kuvana näytetään?</label>
                        <input id="j" class="card-number" type="text" name="ordershowonline"><br>
                        </div>
                        <div class="form-entry">
                        <input type="submit" value="OK" class="btn btn-success btn-sm" name="">
                        <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Peruuta" name="">
                        </div>
                    </form>
                </div>
            </div>`

    let y = `
            <h2 style="color: lightblue">Täytä tiedot</h2>

            <div class="card" style="width: 23rem;">
                <div class="card-body">
                    <form class="form-float-right" method="post" action="/addseries/">
                        {% csrf_token %}
                        <div class="form-entry">
                        <label for="a" >Sarjan nimi</label>
                        <input id="a" class="card-text" class="card-text" type="text" name="seriesname"><br>
                        </div>
                        <br/>
                        <br/>
                        <div class="form-entry">
                        <input type="submit" value="OK" class="btn btn-success btn-sm" name="">
                        <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddformseries()" value="Peruuta" name="">
                        </div>
                    </form>
                </div>
            </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = x
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }
    function showaddformseries() {
        document.getElementById("add-div2").innerHTML = y
    }
    function hideaddformseries() {
        document.getElementById("add-div2").innerHTML = ""
    }
</script>
{% endblock %}
