{% extends 'index.html' %} {% block content %}

<div>
    <h4 class="title">TEOKSET</h4>
    <center>

        {% for s in works %}
        <div class="card">
            <div class="card-body">
                <br />
                {% if s.imagelink1 != None %}
                <img class="picture2" src="{{s.imagelink1}}" />
                {% endif %}

                {% if s.size != None %}
            <p class="card-text" style="font-size: small; margin-top: 3%"">
                {{s.name}} {{s.year}} <br>
                {{s.size}}
            </p>
            {% endif %}
            {% if s.size == None %}
            <p class="card-text" style="font-size: small; margin-top: 3%"">
                {{s.name}} {{s.year}}
            </p>
            {% endif %}

                {% if s.collaboration != None %}
                <p class="card-text" style="font-size: small">
                    Yhteistyössä {{s.collaboration}}
                </p>
                {% endif %} {% if s.instagramlink != None %}
                <p class="card-text">
                    <a href="{{s.instagramlink}}" style="font-size: small">
                        Instagram
                    </a>
                    <br />
                    <br />
                </p>
                {% endif %} {% if s.videolink != None %}
                <p class="card-text">
                    <a href="{{s.videolink}}" style="font-size: small">
                        Videolink
                    </a>
                    <br />
                    <br />
                </p>
                {% endif %} {% if s.inseries != None %}
                <p class="card-text" style="font-size: small">
                    Sarjassa: {{ s.inseries.seriesname }}
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </center>
    <br />
</div>
{% endblock %}
